main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.synctex.gz
samplepaper.aux
samplepaper.bbl
samplepaper.blg
samplepaper.log
samplepaper.out
texput.log
42-CR.aux
42-CR.bbl
42-CR.blg
42-CR.fdb_latexmk
42-CR.fls
42-CR.log
42-CR.out
42-CR.synctex.gz
42-CR.pdf
*pdf